/* Estilos generales para el cuerpo del documento */
body {
    font-family: 'Segoe UI', sans-serif; /* Fuente principal */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el relleno por defecto */
    scroll-behavior: smooth; /* Desplazamiento suave al hacer clic en enlaces */
}